# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: fix-byte-order-marker
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # renovate: datasource=pypi;depName=ruff
    rev: "v0.9.2"
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix]
  - repo: https://github.com/adrienverge/yamllint.git
    # renovate: datasource=pypi;depName=yamllint
    rev: "v1.35.1"
    hooks:
      - id: yamllint
  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.4
    hooks:
      - id: rstcheck
        additional_dependencies:
          - rstcheck[toml,sphinx]
